{% extends 'base.html' %}

{% block title %} Post {% endblock title %}
{% block content %}
{% load bootstrap4 %}



<div class="text-center my-4">


  <div class="breadcrumbs text-left">
    <a href="{% url 'posts:user_list' post.author.id %}">Storyboard</a>
    {% block crumbs %}
    {% if form.title %} &rsaquo; <a href="{% url 'posts:view_user_post' post.author.id post.slug %}">
      {{ form.title.value }}</a> {% endif %}
    {% endblock %}

  </div>
  <div class="row align-items-center text-left">

    <div class="col-sm-12 col-md-12 my-3 ">
      <div class="post__story">

        <h2>Edit Your Story</h2>
        <form class="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row ">
            <div class="col-sm-12 col-md-6">
              {% bootstrap_form form %}
            </div>
            <div class="col-sm-12 col-md-6">
              {% if form.storyimage != None %}
              <div class="post__img shadow">
                <img class="img-fluid" src="{{ form.storyimage.value.url }}" />
              </div>
              {% endif %}
            </div>
          </div>


          <input type='submit' value="Update" class="btn btn-primary">
          <input type='submit' name="Delete" value="Delete" class="btn-delete">
      </div>


    </div>
  </div>

  {% endblock %}