{% extends 'base.html' %}
{% block title %} Create A Story {% endblock title %}
{% block content %}
{% load bootstrap4 %}


<div class="breadcrumbs my-4">
  <a href="{% url 'posts:user_list' userid %}">StoryBoard</a>
  {% block crumbs %}
  {% if post.title %} &rsaquo; {{ post.title }}{% endif %}
  {% endblock %}
</div>
<div class="row align-items-center">

  <div class="col-sm-12  my-3 ">
    <div class="post__story">
      <h2>Add a Story</h2>
      <form class="form" action="{% url 'posts:create' userid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type='submit' value="Create" class="btn btn-primary">
    </div>


  </div>
</div>
{% endblock %}