{% extends 'base.html' %} {% block title %} Post {% endblock title %}
{% block content %}
{% load static %}

{% if user.id == post.author_id %}
{% block breadcrumbs %}
<div class="my-4">
  <div class="breadcrumbs">
    <a href="{% url 'posts:user_list' post.author.id%}">Storyboard</a>
    {% block crumbs %}
    {% if post.title %} &rsaquo; {{ post.title }}{% endif %}
    {% endblock %}
  </div>
  {% endblock %}

  <div class="row align-items-top">
    <div class="col-sm-12 col-md-4 my-3">
      <div class="post__story">
        <h2>{{ post.title}}</h2>

        <h6>{{ post.author }} - {{ post.date|date:"M d, Y" }} <a
            href={% url "posts:edit_post"  post.author.id post.slug %}>edit</a></h6>


        <p>
          {{ post.body|escape|linebreaks }}
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-3">
      {% if post.storyimage.url != None %}
      <div class="post__img shadow">
        <img class="img-fluid" src=" {{  post.storyimage.url }}" />
      </div>
      {% endif %}

    </div>
  </div>
  {% else%}

  <h1>Forbidden (403)</h1>

  <p>CSRF verification failed. Request aborted.</p>


  {% endif %}
</div>

{% endblock %}