{% extends 'base.html' %}
{% block title %} Post {% endblock title %}
{% block content %}

<div class="breadcrumbs">
  <a href="{% url 'posts:list' %}">Collection</a>
  {% block crumbs %}
  {% if form.title %} &rsaquo; {{ form.title.value }}{% endif %}
  {% endblock %}
</div>
<div class="row align-items-center">

  <div class="col-sm-12 col-md-4 my-3 ">
    <div class="post__story">
      <h2>Add a Story</h2>
      <form class="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Update">
    </div>


  </div>
</div>
{% endblock %}