{% extends 'base.html' %} {% block title %} Post {% endblock title %}
{% block content %}
{% load static %}
{% if user.id == post.author_id %}
<div class="row align-items-center">
  <div class="col-sm-12 col-md-4 my-3">
    <div class="post__story">
      <h2>{{ post.title}}</h2>

      <h6>{{ post.author }} - {{ post.date|date:"M d, Y" }}</h6>
      <p><a href={% url "posts:edit_post"  post.slug %}>edit</a></p>

      <p>
        {{post.body}}
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 my-3">
    <div class="post__img">
      <img class="img-fluid" src=" {{  post.storyimage.url }}" />
    </div>
  </div>
</div>
{% else%}
<h1>You should not be only this page.</h1>
<h1>Please make a post.</h1>
{% endif %}


{% endblock %}