{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
{% load static %}

{% if user.id == post.author_id %}
{% block breadcrumbs %}
<div class="my-4">
  <div class="breadcrumbs">

    <a href="{% url 'posts:user_list' post.author.id%}">Storyboard</a>
    {% block crumbs %}
    {% if post.title %} &rsaquo; {{ post.title }}{% endif %}
    {% endblock %}
  </div>
  {% endblock %}

  {% endif %}
  <div class="row align-items-top align-content-stretch">
    <div class="col-sm-12 col-md-4 my-3">
      <div class="post__story d-flex flex-column justify-content-between  h-100">
        <div>
          <h2>{{ post.title}}</h2>

          <h6>{{ post.author }} - {{ post.date|date:"M d, Y" }} {% if user.id == post.author_id %}<a
              href={% url "posts:edit_post"  post.author.id post.slug %}>edit</a> {% endif %}</h6>


          <p>
            {{ post.body|escape|linebreaks }}
          </p>
        </div>
        {% if user.id == post.author_id %}
        <div class="mt-3">
          <h6>Share this story:</h6>
          {% load bootstrap4 %}

          <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button class="btn btn-primary btn-md" role="button">Share!</button>
            {% endbuttons %}
          </form>
        </div>
        {% endif %}
      </div>

    </div>
    <div class="col-sm-12 col-md-8 my-3">
      {% if post.storyimage.url != None %}
      <div class="post__img shadow">
        <img class="img-fluid" src=" {{  post.storyimage.url }}" />
      </div>
      {% endif %}

    </div>
  </div>




</div>

{% endblock %}