{% extends 'base.html' %}
{% block title %} Posts {% endblock title %}
{% block content %}
{% load static %}
<div class="row align-items-center my-5">
  <div class="col-sm-8 col-md-8  ">
    <h1 class="">StoryBoard</h1>
  </div>
  <div class="col-sm-4 col-md-4  text-right">
    <a href="{% url 'posts:create'%}">
      <span class=" btn btn-primary">
        Add Another +</span></a>

  </div>
</div>
<div class="row">



  {% for post in posts_by_user %}
  <div class=" col-sm-6 col-md-4 my-3 ">
    <a href=" {{ post.slug}}">
      <h5 class="text-left">{{ post.title}}</h5>
      <div class="post__img">
        {% if post.storyimage.url != None %}
        <img class="img-fluid" src="{{  post.storyimage.url }}" />
        {% endif %}

      </div>
    </a>
  </div>
  {% endfor %}

</div>
{% endblock %}