[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
pillow = "*"
requests = "*"
django-storages = "*"
boto3 = "*"
django-crispy-forms = "*"
django-anymail = {extras = ["sendgrid", "sparkpost"],version = "*"}

[dev-packages]
django-debug-toolbar = "*"
