/* Custom CSS goes here */
body {
  font-family: "Monstserrat", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar {
  background: linear-gradient(135deg, #f2f9fe 0%, #d6f0fd 100%);
}

.card-user {
  max-width: 80px;
}

.navbar-avatar {
  height: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
}
