/* Custom CSS goes here */
body {
  font-family: "Monstserrat", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
#home h1 {
  font-weight: 900;

}

.navbar {
  background: #ffffff;
  /* border-bottom: 1px solid #f3f3f3; */
}
.navbar .container {
  
}

.navbar-brand {
  font-size: 1.1rem;
  text-transform: uppercase;
  
}

.navbar-brand span{
  font-weight: 700;

}
#home  .container-hero{
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
 
  
}
#home h1 {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 1;
}

.hero {
  background: url('/static/images/smallstories_hero@2x.jpg') center;
  background-size: cover;
  min-height: 500px;
 

}

.hp-features img{
  max-width: 2.3rem;
}

.hero__inner{
  max-width: 500px;
}

.hero .btn{
  line-height: 1;
  font-weight: 400;
  padding-top:.45rem;
}

.hero .btn:hover{
  line-height: 1;
}
.card-user {
  max-width: 80px;
}

.navbar-avatar {
  height: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.about-image {
  display: flex;
  margin: auto;
  margin-bottom: 3px;
}

.col p {
  text-align: center;
}

li a,
.brand {
  color: #222222;
 
}

.btn-primary {
  color: black;
  background: none;
  border: solid;
}

.btn-primary:hover {
  color: #222222;
  border: #222222 solid;
}

.btn:hover {
  background-color: #ffffff;
}

h5 {
  color: black;
}

.profile-box {
  border: solid #eeeeee;
  border-radius: 10px;
  background: #dddddd;
  padding: 50px;
}

