/* Custom CSS goes here */
body {
  font-family: "Monstserrat", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

h1 {
  font-weight: 900;
}
.navbar {
  background: linear-gradient(135deg, #000000 0%, #b91c4b 100%);
}
.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
}

.card-user {
  max-width: 80px;
}

.navbar-avatar {
  height: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.about-image {
  display: flex;
  margin: auto;
}

.col p {
  text-align: center;
}

li a {
  color:pink;
}

.brand {
  color:#b30047;
}

.btn-primary {
  color: black;
  background-color: #990066;
}

a:hover {
  color:#ff66cc;
}

.btn:hover {
  color:#ff66cc;
  background-color: #990066;
}

h5 {
  color: black;
} 
