/* Custom CSS goes here */
body {
  font-family: "Monstserrat", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

h1 {
  font-weight: 900;
}

.navbar {
  background: #ffffff
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
}

.hero-image {
  background: url('/static/images/smallstories_hero@2x.jpg');
  background-size: auto;
}

.card-user {
  max-width: 80px;
}

.navbar-avatar {
  height: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.about-image {
  display: flex;
  margin: auto;
  margin-bottom: 3px;
}

.col p {
  text-align: center;
}

li a,
.brand {
  color: #222222;
  text-transform: uppercase;
}

.btn-primary {
  color: black;
  background: none;
  border: solid;
}

.btn-primary:hover {
  color: #222222;
  border: #222222 solid;
}

.btn:hover {
  background-color: #ffffff;
}

h5 {
  color: black;
}

.profile-box {
  border: solid #eeeeee;
  border-radius: 10px;
  background: #dddddd;
  padding: 50px;
}