{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">

        <h2 class="card-title text-center">Email Sent</h2>
        <p>We've emailed you instructions for re-setting your password, if an account exists with the email you entered.
          You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
          your spam folder.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}